* {
  text-align: center;
  color: whitesmoke;
}

html, body {
  height: 100%;
  width: 100%;
}

table { table-layout: fixed; }

th, td { width: 300px; }

body {
 background-image: url("https://cdn.wallpapersafari.com/69/41/RvHfFP.jpg");
 background-color: #cccccc;
}



h1 {
  color: Pink;
  border-bottom: 1px solid
}

h2 {
  border-bottom: 1px solid;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color:violet;
}