* {
  text-align: left;
  color: lightgray;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
 background-image: url("https://cdn.wallpapersafari.com/69/41/RvHfFP.jpg");
 background-color: #cccccc;
}

h1 {
  color: Pink;
}

h2 {
  border-bottom: 1px solid;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color:violet;
}